.vscode
backups
crash-reports
defaultconfigs
gtceu
kubejs/probe
ldlib
local
logs
modernfix
PCL
ProjectGT-natives
ProjectGT.jar
ProjectGT.json
resourcepacks
rhino.local.properties
saves
screenshots
skyblockbuilder
usercache.json
usernamecache.json
xaero
XaeroWaypoints_BACKUP240807

config/skyblockbuilder/data/dimensions.txt

!config/skyblockbuilder