/.vscode
/backups
/defaultconfigs
/gtceu
/ldlib
/local
/logs
/modernfix
/PCL
/ProjectGT-natives
/ProjectGT.jar
/ProjectGT.json
/rhino.local.properties
/saves
/skyblockbuilder
/usercache.json
/usernamecache.json
/xaero